# Virtual environments
.venv
.idea

# chache directories
utilities/__pycache__

# models made with keras or pytorch
*.keras

# New data files
*.csv
*.txt

# Images
gesture_classifier/*.png
*.png

# PyTorch models
gesture_classifier/*.pth
*.pth
