# Virtual environments
.venv
.intan
.idea
.ipynb_checkpoints/

# chache directories
intan_utilities/__pycache__
__pycache__/

# models made with keras or pytorch
*.keras

# New data files
*.csv
*.txt

# Images
gesture_classifier/*.png
*.png

# PyTorch models
gesture_classifier/*.pth
*.pth

# Temporary files used for debugging 
/temp/
temp/*

# build files
dist/
build/
python_intan.egg-info
